/*.outline {outline: 1px solid red;} */
behavior: url(/js/pie/PIE.htc);/* CSS Document */
html,
body,
img,
div,
a,
span,
p {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Tahoma;
  color: #000;
  font-size: 12px;
}
a {
  outline: none;
  color: #000000;
}
img {
  border: none;
}
/*.outline {outline: 1px solid red;} */
.clear {
  clear: both;
}
.push1 {
  height: 54px;
}
.push2 {
  height: 120px;
  margin-top: 25px;
}
/* clearfix class */
/* For modern browsers */
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
  *zoom: 1;
}
#footer {
  position: absolute;
  display: none;
  min-height: 185px;
}
.simple-arrow {
  background: url(/theme/img/menu-arrow-down.png) top 9px right no-repeat;
  padding-right: 15px;
}
.globe {
  background: url(/theme/img/menu-globe.png) top 0px left no-repeat;
  padding-left: 23px;
}
.currency {
  background: url(/theme/img/menu-currency.png) top 0px left no-repeat;
  padding-left: 23px;
}
.dialog-form dt {
  display: none !important;
}
.mainmenu-border-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.mainmenu-user-border-radius {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.mainmenu-user-drop-border-radius {
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.mainmenu-background-gradient {
  background: #ffffff;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #f1f1f1), color-stop(51%, #e1e1e1), color-stop(100%, #f6f6f6));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
  /* IE6-8 */

}
.mainmenu-user-gradient-item {
  background: #f2f2f2;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=0);
  /* IE6-8 */

}
.mainmenu-user-gradient-drop {
  background: #ffffff;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0);
  /* IE6-8 */

}
.mainmenu-over-gradient-drop {
  background: #ffffff;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0);
  /* IE6-8 */

}
.mainmenu-over-gradient-border-radius {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.button-blue {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #30ade8;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzMGFkZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDY0MmEzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover, #30ade8 0%, #0642a3 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #30ade8), color-stop(100%, #0642a3));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #30ade8 0%, #0642a3 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, #30ade8 0%, #0642a3 100%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, #30ade8 0%, #0642a3 100%);
  /* IE10+ */

  background: radial-gradient(ellipse at center, #30ade8 0%, #0642a3 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#30ade8', endColorstr='#0642a3', GradientType=1);
  /* IE6-8 fallback on horizontal gradient */

  color: #fff;
}
.user-drop-container .top {
  margin: 0 0 15px 0;
}
.user-drop-container .top .img {
  width: 42px;
  margin: 0 10px 0 0;
  float: left;
}
.user-drop-container .top .img img {
  border: 1px solid #ccc;
  display: block;
  margin: 0 0 3px 0;
}
.user-drop-container .top .img #AvatarManager {
  display: block;
  font-size: 10px;
  color: #393939;
  cursor: pointer;
}
.user-drop-container .top .text {
  float: left;
  display: block;
  width: 293px;
}
.user-drop-container .top .text .name {
  font-weight: bold;
}
.user-drop-container .top .text .notifications {
  padding: 5px;
  border: 1px dashed #ccc;
  margin: 5px 0 10px 0;
  background: #fefcea;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmNlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVhYzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fefcea 0%, #efeac6 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefcea), color-stop(100%, #efeac6));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fefcea 0%, #efeac6 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fefcea 0%, #efeac6 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #fefcea 0%, #efeac6 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #fefcea 0%, #efeac6 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fefcea', endColorstr='#efeac6', GradientType=0);
  /* IE6-8 */

}
.user-drop-container .top .text .notifications .item {
  float: left;
  width: 135px;
  margin: 0 5px 5px 0;
}
.user-drop-container .top .text .notifications .item div {
  float: left;
  width: 16px;
  height: 16px;
  display: block;
  margin: 2px 0 0;
}
.user-drop-container .top .text .notifications .item .msg {
  background: url(/js/jquery/jquery-ui-1.9.0.custom/css/smoothness/images/ui-icons_222222_256x240.png) left -80px top -96px no-repeat;
}
.user-drop-container .top .text .notifications .item .frnd {
  background: url(/js/jquery/jquery-ui-1.9.0.custom/css/smoothness/images/ui-icons_222222_256x240.png) left -144px top -96px no-repeat;
}
.user-drop-container .top .text .notifications .item .bkng {
  background: url(/js/jquery/jquery-ui-1.9.0.custom/css/smoothness/images/ui-icons_222222_256x240.png) left -112px top -128px no-repeat;
}
.user-drop-container .top .text .notifications .item a {
  font-size: 12px;
  display: block;
  margin: 0 0 0 5px;
  float: left;
  color: #222;
  font-weight: bold;
}
.user-drop-container .user-menu .menu-row-item {
  display: block;
  float: left;
  margin: 0 5px 2px 0;
  width: 135px;
  height: 22px;
  padding: 5px 15px;
  font-size: 12px;
  color: #393939;
  background: #ffffff;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
  /* IE6-8 */

  border: 1px solid #EDEDED;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.75);
}
.user-drop-container .user-menu .menu-row-item:hover {
  background: #ffffff;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  /* IE6-8 */

  text-shadow: 0px 0px 2px #ffffff;
}
.user-drop-container .user-menu .menu-row-item span {
  font-weight: bold;
}
.user-drop-container .logout-button {
  display: block;
  margin: 10px 5px 2px 0;
  width: 135px;
  height: 22px;
  padding: 5px 15px;
  font-size: 12px;
  color: #393939;
  border: 1px solid #EDEDED;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  background: #f2f6f8;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjZmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q4ZTFlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2I1YzZkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGVmZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f6f8), color-stop(50%, #d8e1e7), color-stop(51%, #b5c6d0), color-stop(100%, #e0eff9));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0);
  /* IE6-8 */

}
.user-drop-container .logout-button:hover {
  background: #f85032;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4NTAzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxNmY1YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Y2MjkwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iI2YwMmYxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNzM4MjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f85032), color-stop(50%, #f16f5c), color-stop(51%, #f6290c), color-stop(71%, #f02f17), color-stop(100%, #e73827));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f85032', endColorstr='#e73827', GradientType=0);
  /* IE6-8 */

  color: white;
}
.header {
  position: fixed;
  width: 100%;
  height: 53px;
  z-index: 10000;
  padding: 0;
  margin: 0;
  background: #ffffff;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  /* IE6-8 */

  border: 1px solid #ccc;
}
.header-resize {
  height: 53px;
  margin: 0 auto;
  z-index: 0;
}
.header-resize .logo {
  display: block;
  float: left;
  height: 53px;
  width: 180px;
  background: url(/theme/img/logo.png) top 8px left no-repeat;
  margin: 0 25px 0 0;
}
.header-resize-controls {
  float: left;
  height: 53px;
}
.header-resize-controls .right {
  float: right !important;
  margin: 0 !important;
}
.header-resize-controls .main-menu {
  height: 53px;
}
.header-resize-controls .main-menu-list {
  margin: 0;
  padding: 0;
  height: 53px;
  list-style: none;
  display: block;
}
.header-resize-controls .main-menu-list-item {
  height: 53px;
  float: left;
  display: block;
  margin: 0 0 0 10px !important;
  padding: 0 !important;
  position: relative;
  min-width: 50px;
}
.header-resize-controls .main-menu-list-item-link {
  color: #505050;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 8px;
  display: block;
  margin: 10px 0 0 0;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
}
.header-resize-controls .main-menu-list-item-drop {
  position: absolute;
  border: 1px solid #ccc;
  background: #ffffff;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0);
  /* IE6-8 */

  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin: 51px 0 0 0;
  z-index: 90000;
  padding: 10px 15px 15px 15px;
  right: 0px;
  display: none;
  width: 325px;
}
.header-resize-controls .main-menu-list-item .menu-item {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.header-resize-controls .main-menu-list-item .menu-item:hover {
  border: 1px solid #ccc;
  background: #ffffff;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #f1f1f1), color-stop(51%, #e1e1e1), color-stop(100%, #f6f6f6));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
  /* IE6-8 */

}
.header-resize-controls .main-menu-list-item .menu-item-user {
  padding: 6px 8px 14px 8px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  position: absolute;
  z-index: 100000;
  background: url("/theme/img/user-silhouette.png") no-repeat left 5px top 9px;
}
.header-resize-controls .main-menu-list-item .image {
  padding: 6px 8px 14px 28px !important;
}
.header-resize-controls .main-menu-list-item .menu-item-user-hover {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  background: #f2f2f2;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=0);
  /* IE6-8 */

  background: url("/theme/img/user-silhouette.png") no-repeat left 5px top 9px;
}
.header-resize-controls .main-menu-list-item .menu-item-drop {
  position: absolute;
  z-index: 100000;
  padding: 6px 8px 14px 8px;
}
.header-resize-controls .main-menu-list-item .menu-item-drop-hover {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: none;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  background: #f2f2f2;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=0);
  /* IE6-8 */

}
.header-resize-controls .main-menu-list-item .image-drop {
  padding: 7px 8px 6px 31px !important;
}
.header-resize-controls .main-menu-list-item .menu-item-over {
  border-top: none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: absolute;
  display: none;
  background: #ffffff;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0);
  /* IE6-8 */

  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 50px 0 0 0;
  padding: 6px 8px;
}
.header-resize-controls .main-menu-list-item .menu-item-over-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-resize-controls .main-menu-list-item .menu-item-over-list li {
  margin: 0;
  padding: 0;
}
.header-resize-controls .main-menu-list-item .menu-item-over-list li .menu-item-over-list-item-link {
  margin: 0;
  padding: 0;
  color: #505050;
  font-size: 12px;
  font-weight: bold;
  display: block;
  height: 18px;
}
.header-resize-controls .main-menu-list-item .menu-item-over-list li .menu-item-over-list-item-link-span {
  margin: 0;
  padding: 0;
}
.header-resize-controls .main-menu-list-item .menu-item-over-list li .image-drop {
  padding: 5px 8px 6px 24px !important;
}
.header-resize-controls .main-menu-list-item .menu-item-button {
  margin-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #30ade8;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzMGFkZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDY0MmEzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover, #30ade8 0%, #0642a3 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #30ade8), color-stop(100%, #0642a3));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #30ade8 0%, #0642a3 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, #30ade8 0%, #0642a3 100%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, #30ade8 0%, #0642a3 100%);
  /* IE10+ */

  background: radial-gradient(ellipse at center, #30ade8 0%, #0642a3 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#30ade8', endColorstr='#0642a3', GradientType=1);
  /* IE6-8 fallback on horizontal gradient */

  color: #fff;
}
.border {
  border: 3px solid #a8a8a8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: #666 0px 0px 15px;
  -moz-box-shadow: #666 0px 0px 15px;
  box-shadow: #666 0px 0px 15px;
}
.shadow {
  border: none;
  -webkit-box-shadow: #666 0px 0px 15px;
  -moz-box-shadow: #666 0px 0px 15px;
  box-shadow: #666 0px 0px 15px;
}
.shadow-text {
  text-shadow: 1px 2px 5px #000;
}
.border-flat {
  border: 2px solid #a8a8a8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #666 0px 0px 7px;
  -moz-box-shadow: #666 0px 0px 7px;
  box-shadow: #666 0px 0px 7px;
}
.border-hr {
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: #666 0px 0px 3px;
  -moz-box-shadow: #666 0px 0px 3px;
  box-shadow: #666 0px 0px 3px;
}
.border-sf {
  border: 5px solid #757170;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: #666 0px 0px 15px;
  -moz-box-shadow: #666 0px 0px 15px;
  box-shadow: #666 0px 0px 15px;
}
.border-dsc {
  border: 3px solid #757170;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #666 0px 0px 15px;
  -moz-box-shadow: #666 0px 0px 15px;
  box-shadow: #666 0px 0px 15px;
}
.border-item-big {
  border: 5px solid #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: #000 0px 0px 15px;
  -moz-box-shadow: #000 0px 0px 15px;
  box-shadow: #000 0px 0px 15px;
}
.body-index {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  width: 100%;
}
.body-index .underslider-menu {
  height: 32px;
  background: url(/theme/img/index-submenu-bg.png) top left repeat-x;
  margin: 0 0 20px 0;
}
.body-index .underslider-menu ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  height: 32px;
}
.body-index .underslider-menu ul li {
  float: left;
  height: 32px;
}
.body-index .underslider-menu ul li a {
  margin: 0 10px 0 0;
  height: 32px;
}
.body-index .underslider-menu ul li a span {
  color: #000;
  font-size: 14px;
  display: block;
  margin: 5px 15px 0 0;
}
.body-index .main-wrapper .big-container {
  margin: 0 0 25px 0;
}
.body-index .main-wrapper .big-container .items-wrp {
  width: 1000px;
  margin: 0 auto;
}
.body-index .main-wrapper .big-container .items-wrp .left {
  float: left;
}
.body-index .main-wrapper .big-container .items-wrp .right {
  float: right;
}
.body-index .main-wrapper .big-container .items-wrp .item {
  width: 464px;
  padding: 8px;
  background: #fff;
  position: relative;
}
.body-index .main-wrapper .big-container .items-wrp .item .description {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: block;
}
.body-index .main-wrapper .big-container .items-wrp .item .description .title {
  display: block;
  font-weight: bold;
  color: #fff;
}
.body-index .main-wrapper .big-container .items-wrp .item .description .geo {
  display: block;
  padding: 0 0 0 14px;
  color: #fff;
  background: url(/theme/img/geo-marker.png) top 4px left no-repeat;
}
.body-index .main-wrapper .big-container .items-wrp .item .price {
  position: absolute;
  width: 99px;
  height: 70px;
  display: block;
  right: -5px;
  bottom: 10px;
  background: url(/theme/img/item-big-price-label.png) top right no-repeat;
}
.body-index .main-wrapper .big-container .items-wrp .item .price .dig {
  display: block;
  margin: 11px 0 0 -16px;
}
.body-index .main-wrapper .big-container .items-wrp .item .price .dig .num {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.body-index .main-wrapper .big-container .items-wrp .item .price .dig .about {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.body-index .main-wrapper .small-container {
  margin: 0 auto 35px;
  width: 1020px;
}
.body-index .main-wrapper .small-container .items-wrp .small-item {
  margin: 0 10px 0 10px;
  width: 320px;
  height: 287px;
  float: left;
  position: relative;
}
.body-index .main-wrapper .small-container .items-wrp .small-item .photo {
  z-index: 200;
  width: 310px;
  height: 207px;
  position: absolute;
}
.body-index .main-wrapper .small-container .items-wrp .small-item .description {
  z-index: 100;
  position: absolute;
  bottom: 0;
  height: 120px;
  width: 280px;
  left: 15px;
  background: #fff;
}
.body-index .main-wrapper .small-container .items-wrp .small-item .description .description-wrp {
  position: absolute;
  height: 50px;
  bottom: 5px;
  left: 10px;
}
.body-index .main-wrapper .small-container .items-wrp .small-item .description .description-wrp .border-dsc {
  display: block;
  float: left;
}
.body-index .main-wrapper .small-container .items-wrp .small-item .description .description-wrp .text {
  float: left;
  margin: 0 0 0 10px;
}
.body-index .main-wrapper .small-container .items-wrp .small-item .description .description-wrp .text a {
  font-weight: bold;
  display: block;
}
.body-index .main-wrapper .banners-container {
  margin: 0 auto 35px;
  padding: 0;
  list-style: none;
  width: 1098px;
}
.body-index .main-wrapper .banners-container li {
  float: left;
}
.body-index .main-wrapper .banners-container li a {
  display: block;
  margin: 0 10px 0 10px;
}
.body {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.body .fullwidth {
  height: 53px;
  margin: 10px 0;
  background: url(/theme/img/full-width-bg.png) top left repeat-x;
}
.body .fullwidth ul {
  height: 53px;
  margin: 0 15px 0 30px;
  padding: 0;
  list-style: none;
  display: block;
}
.body .fullwidth ul li {
  float: left;
  height: 53px;
  display: block;
}
.body .fullwidth ul li a {
  color: black;
  display: block;
  font-size: 24px;
  height: 56px;
  margin: -1px 0 0 -8px;
  padding: 0 25px;
  text-decoration: none;
}
.body .fullwidth ul li a span {
  display: block;
  padding-top: 17px;
}
.body .fullwidth ul li .blue {
  background: url(/theme/img/blue-button-bg-fullwidth.png) top center no-repeat;
  background-size: 100% 100%;
}
.body .fullwidth ul li .green {
  background: url(/theme/img/green-button-bg-fullwidth.png) top center no-repeat;
  background-size: 100% 100%;
}
.body .fullwidth ul .search {
  float: right;
  margin: 0 15px 0 0;
}
.body .fullwidth ul .search input {
  width: 136px;
  height: 50px;
  display: block;
  margin-top: 11px;
  background: url(/theme/img/search-button.png) top left no-repeat;
  border: none;
  margin-top: 1px;
}
.body .fullwidth ul .border-left {
  margin: 12px 0 0;
  padding: 0 0 0 22px;
  background: url(/theme/img/full-width-ul-li-border-left.png) top -12px left no-repeat;
}
.body .fullwidth ul .border-left input {
  width: 100px;
}
.body .fullwidthBottom {
  min-height: 20px;
}
.body .fullwidthBottom .pages {
  float: right;
}
.body .fullwidthBottom .pages .page {
  border: 1px solid #484848;
  text-align: center;
  width: 26px;
  height: 23px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #666 0px 0px 5px;
  -moz-box-shadow: #666 0px 0px 5px;
  box-shadow: #666 0px 0px 5px;
  float: left;
  display: block;
  font-weight: bold;
  color: #484848;
  margin: 0 5px 5px 0;
  padding: 3px 0 0 0;
}
.body .fullwidthBottom .pages .current {
  background: url(/theme/img/page-active-bg.png) top left no-repeat;
  color: #0392db;
}
.body .fullwidthBottom .pages .other {
  background: url(/theme/img/page-inactive-bg.png) top left no-repeat;
}
.body .wrapper .column-left {
  width: 245px;
  float: left;
  margin: 0 8px 10px 0;
}
.body .wrapper .column-left .town-photo {
  width: 239px;
  min-height: 150px;
  padding: 0;
  margin: 0 0 15px 0;
  background: url(/contents/towns/dp.png) top left no-repeat;
}
.body .wrapper .column-left .controls {
  width: 239px;
  min-height: 400px;
  padding: 0;
}
.body .wrapper .column-left .controls .subform {
  margin: 10px 15px 25px 15px;
}
.body .wrapper .column-left .controls .subform .title {
  font-size: 18px;
}
.body .wrapper .column-left .controls .subform .hr {
  height: 1px;
  margin: 5px 0 10px;
}
.body .wrapper .column-left .controls .subform .subform-container {
  margin: 0 0 25px 0;
}
.body .wrapper .column-left .controls .subform .subform-container input {
  float: left;
  display: block;
  margin: 0 9px 0 0;
}
.body .wrapper .column-left .controls .subform .subform-container .f-label {
  float: left;
  margin: -4px 9px 10px 0;
}
.body .wrapper .column-left .controls .subform .subform-container .from {
  float: left;
  width: 80px;
}
.body .wrapper .column-left .controls .subform .subform-container .to {
  float: right;
  width: 80px;
}
.body .wrapper .column-right {
  float: left;
}
.body .wrapper .column-right .right-fullwidth {
  height: 40px;
  margin: 0 0 15px 0;
  background: url(/theme/img/right-full-width-bg.png) top left repeat-x;
}
.body .wrapper .column-right .right-fullwidth ul {
  height: 40px;
  margin: 0 15px 0 30px;
  padding: 0;
  list-style: none;
  display: block;
}
.body .wrapper .column-right .right-fullwidth ul li {
  float: left;
  height: 40px;
  display: block;
}
.body .wrapper .column-right .right-fullwidth ul li a {
  color: black;
  display: block;
  font-size: 16px;
  font-weight: bold;
  height: 41px;
  margin: -1px 0 0 -8px;
  padding: 0 25px;
  text-decoration: none;
}
.body .wrapper .column-right .right-fullwidth ul li a span {
  display: block;
  padding-top: 10px;
}
.body .wrapper .column-right .right-fullwidth ul li .blue {
  background: url(/theme/img/blue-button-bg-fullwidth.png) top center no-repeat;
  background-size: 100% 100%;
}
.body .wrapper .column-right .right-fullwidth ul li .green {
  background: url(/theme/img/green-button-bg-fullwidth.png) top center no-repeat;
  background-size: 100% 100%;
}
.body .wrapper .column-right .right-fullwidth ul .border-left {
  padding: 0 0 0 15px;
  background: url(/theme/img/full-width-ul-li-border-left.png) top -5px left no-repeat;
  margin-right: -10px;
}
.body .wrapper .column-right .column-right-wrapper {
  margin-top: 55px;
}
.body .wrapper .column-right .column-right-wrapper .flat-item {
  float: left;
  width: 230px;
  min-height: 220px;
  margin: 0 10px 25px 0;
  position: relative;
}
.body .wrapper .column-right .column-right-wrapper .flat-item .number {
  background: url(/theme/img/flat-num-bg.png) top left no-repeat;
  width: 35px;
  height: 33px;
  position: absolute;
  z-index: 15;
  padding: 7px 0 0;
  text-align: center;
}
.body .wrapper .column-right .column-right-wrapper .flat-item .flat-img {
  position: absolute;
  margin: 7px;
  z-index: 10;
}
.body .wrapper .column-right .column-right-wrapper .flat-item .flat-img .title {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #0392db;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 6px;
  margin-top: 5px;
}
.body .wrapper .column-right .column-right-wrapper .flat-item .flat-img .desc .left {
  float: left;
  width: 150px;
  font-size: 12px;
  color: #505050;
  line-height: 1;
}
.body .wrapper .column-right .column-right-wrapper .flat-item .flat-img .desc .right {
  float: right;
  width: 60px;
  text-align: right;
  font-size: 16px;
  color: #505050;
}
.footer {
  width: 100%;
  background: url(/theme/img/footer-main-bg.png) top center repeat-y #ffffff;
  background-size: 100%;
}
.footer .top-bg {
  height: 35px;
  background: url(/theme/img/footer-top-bg.png) top left repeat-x;
}
.footer .footer-wrapper {
  margin: 0 auto;
}
.footer .footer-wrapper .geo {
  float: left;
  margin: 0 20px 0 0;
}
.footer .footer-wrapper .geo .title {
  color: #868686;
  text-transform: uppercase;
}
.footer .footer-wrapper .geo ul {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}
.footer .footer-wrapper .geo ul li {
  float: left;
  height: 25px;
  padding: 4px 5px 0 5px;
  margin: 0 10px 0 0;
  background: url(/theme/img/footer-geo-bg.png) top left repeat-x;
}
.footer .footer-wrapper .geo ul li a {
  height: 20px;
  display: block;
  color: #000;
  text-decoration: none;
}
.footer .footer-wrapper .company {
  float: left;
  margin: 0 20px 0 0;
}
.footer .footer-wrapper .company .title {
  font-weight: bold;
}
.footer .footer-wrapper .company ul {
  margin: 10px 0 0 15px;
  padding: 0;
  list-style: none;
}
.footer .footer-wrapper .company ul li a {
  display: block;
  color: #000;
  text-decoration: none;
}
.footer .footer-wrapper .social {
  float: left;
  margin: 0 20px 0 0;
}
.footer .footer-wrapper .social .title {
  font-weight: bold;
}
.footer .footer-wrapper .social ul {
  margin: 10px 0 0 15px;
  padding: 0;
  list-style: none;
}
.footer .footer-wrapper .social ul li {
  margin: 0 0 10px 0;
}
.footer .footer-wrapper .pay {
  float: left;
}
.footer .footer-wrapper .pay .title {
  font-weight: bold;
}
.footer .footer-wrapper .pay img {
  display: block;
  margin: 15px 0 0 15px;
}
