/* CSS Document */

html,
body,
img,
div,
a,
span,
p {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Tahoma;
  color: #000;
  font-size: 12px;
}
a {
  outline: none;
  color: #000000;
}
img {
  border: none;
}
/*.outline {outline: 1px solid red;} */
.clear {
  clear: both;
}
.push1 {
  height: 53px;
}
.push2 {
  height: 120px;
  margin-top: 25px;
}
/* clearfix class */
/* For modern browsers */
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
  *zoom: 1;
}
#footer {
  position: absolute;
  display: none;
  min-height: 185px;
}
.simple-arrow {
  background: url(/theme/img/menu-arrow-down.png) top 9px right no-repeat;
  padding-right: 15px;
}
.header {
  position: absolute;
  width: 100%;
  height: 53px;
  z-index: 10000;
  padding: 0;
  background: url(/theme/img/header-bg.png) top left repeat-x;
  margin: 0;
}
.header-resize {
  height: 53px;
  margin: 0 auto;
  z-index: 0;
}
.header-resize .logo {
  display: block;
  float: left;
  height: 53px;
  width: 180px;
  background: url(/theme/img/logo.png) top 8px left no-repeat;
  margin: 0 25px 0 0;
}
.header-resize-controls {
  float: left;
  height: 53px;
}
.header-resize-controls .right {
  float: right !important;
  margin: 0 !important;
}
.header-resize-controls .menu {
  height: 53px;
  margin: 0 15px 0 0;
  float: left;
}
.header-resize-controls .menu ul {
  margin: 0;
  padding: 0;
  height: 53px;
  list-style: none;
}
.header-resize-controls .menu ul li {
  margin: 0;
  padding: 0;
  height: 53px;
  float: left;
  position: relative;
}
.header-resize-controls .menu ul li .globe {
  background: url(/theme/img/menu-globe.png) top 0px left no-repeat;
  padding-left: 23px;
}
.header-resize-controls .menu ul li .currency {
  background: url(/theme/img/menu-currency.png) top 0px left no-repeat;
  padding-left: 23px;
}
.header-resize-controls .menu ul li a {
  display: block;
  height: 53px;
  margin: 0 15px 0 0;
  color: black;
  text-decoration: none;
  font-size: 12px;
}
.header-resize-controls .menu ul li a span {
  display: block;
  margin: 17px 0 0 0;
}
.header-resize-controls .menu ul li .blue-button {
  width: 132px;
  height: 27px;
  margin: 12px 0 0 0;
  background: url(/theme/img/blue-button-bg.png) top 0px left no-repeat;
  font-size: 12px;
}
.header-resize-controls .menu ul li .blue-button span {
  display: block;
  margin: 0 0 0 10px;
  padding-top: 3px;
}
.border {
  border: 3px solid #a8a8a8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: #666 0px 0px 15px;
  -moz-box-shadow: #666 0px 0px 15px;
  box-shadow: #666 0px 0px 15px;
}
.border-flat {
  border: 2px solid #a8a8a8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #666 0px 0px 7px;
  -moz-box-shadow: #666 0px 0px 7px;
  box-shadow: #666 0px 0px 7px;
}
.border-hr {
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: #666 0px 0px 3px;
  -moz-box-shadow: #666 0px 0px 3px;
  box-shadow: #666 0px 0px 3px;
}
.body {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.body .fullwidth {
  height: 53px;
  margin: 10px 0;
  background: url(/theme/img/full-width-bg.png) top left repeat-x;
}
.body .fullwidth ul {
  height: 53px;
  margin: 0 15px 0 30px;
  padding: 0;
  list-style: none;
  display: block;
}
.body .fullwidth ul li {
  float: left;
  height: 53px;
  display: block;
}
.body .fullwidth ul li a {
  color: black;
  display: block;
  font-size: 24px;
  height: 56px;
  margin: -1px 0 0 -8px;
  padding: 0 25px;
  text-decoration: none;
}
.body .fullwidth ul li a span {
  display: block;
  padding-top: 17px;
}
.body .fullwidth ul li .blue {
  background: url(/theme/img/blue-button-bg-fullwidth.png) top center no-repeat;
  background-size: 100% 100%;
}
.body .fullwidth ul li .green {
  background: url(/theme/img/green-button-bg-fullwidth.png) top center no-repeat;
  background-size: 100% 100%;
}
.body .fullwidth ul .search {
  float: right;
  margin: 0 15px 0 0;
}
.body .fullwidth ul .search input {
  display: block;
  margin-top: 11px;
}
.body .fullwidth ul .border-left {
  padding: 0 0 0 15px;
  background: url(/theme/img/full-width-ul-li-border-left.png) top 3px left no-repeat;
  margin-right: -10px;
}
.body .fullwidthBottom {
  background: PaleGoldenrod;
  min-height: 20px;
}
.body .wrapper .column-left {
  width: 245px;
  float: left;
  margin: 0 8px 10px 0;
}
.body .wrapper .column-left .town-photo {
  width: 239px;
  min-height: 150px;
  padding: 0;
  margin: 0 0 15px 0;
  background: url(/contents/towns/dp.png) top left no-repeat;
}
.body .wrapper .column-left .controls {
  width: 239px;
  min-height: 400px;
  padding: 0;
}
.body .wrapper .column-left .controls .subform {
  margin: 10px 15px 25px 15px;
}
.body .wrapper .column-left .controls .subform .title {
  font-size: 18px;
}
.body .wrapper .column-left .controls .subform .hr {
  height: 1px;
  margin: 5px 0 10px;
}
.body .wrapper .column-right {
  float: left;
}
.body .wrapper .column-right .right-fullwidth {
  height: 40px;
  margin: 0 0 15px 0;
  background: url(/theme/img/right-full-width-bg.png) top left repeat-x;
}
.body .wrapper .column-right .right-fullwidth ul {
  height: 40px;
  margin: 0 15px 0 30px;
  padding: 0;
  list-style: none;
  display: block;
}
.body .wrapper .column-right .right-fullwidth ul li {
  float: left;
  height: 40px;
  display: block;
}
.body .wrapper .column-right .right-fullwidth ul li a {
  color: black;
  display: block;
  font-size: 16px;
  font-weight: bold;
  height: 41px;
  margin: -1px 0 0 -8px;
  padding: 0 25px;
  text-decoration: none;
}
.body .wrapper .column-right .right-fullwidth ul li a span {
  display: block;
  padding-top: 10px;
}
.body .wrapper .column-right .right-fullwidth ul li .blue {
  background: url(/theme/img/blue-button-bg-fullwidth.png) top center no-repeat;
  background-size: 100% 100%;
}
.body .wrapper .column-right .right-fullwidth ul li .green {
  background: url(/theme/img/green-button-bg-fullwidth.png) top center no-repeat;
  background-size: 100% 100%;
}
.body .wrapper .column-right .right-fullwidth ul .border-left {
  padding: 0 0 0 15px;
  background: url(/theme/img/full-width-ul-li-border-left.png) top -5px left no-repeat;
  margin-right: -10px;
}
.body .wrapper .column-right .column-right-wrapper {
  margin-top: 55px;
}
.body .wrapper .column-right .column-right-wrapper .flat-item {
  float: left;
  width: 230px;
  height: 200px;
  margin: 0 10px 25px 0;
  position: relative;
}
.footer {
  width: 100%;
  height: 120px;
  margin-top: -120px;
  background: url(/theme/img/footer-main-bg.png) top center repeat-y;
  background-size: 100%;
}
.footer .top-bg {
  height: 35px;
  background: url(/theme/img/footer-top-bg.png) top left repeat-x;
}
.footer .footer-wrapper {
  min-height: 100px;
  background: PaleGoldenrod;
  margin: 0 auto;
}
behavior: url(/js/pie/PIE.htc);/* CSS Document */